.menu
    display: flex
    justify-content: center
    align-items: center
    width: 95vw
    margin: 20px 0

.placeables
    width: 120px
    display: grid
    grid-template-columns: auto auto auto
    gap: 0 7px

    label
        grid-column-start: 1
        grid-column-end: 4

    .select
        width: 50px
    
    .type
        width: 20px
        height: 20px
        border: 1px black solid

button
    margin: 0 10px
    width: 100px
    height: 50px

.algorithms
    margin: 0 20px
    width: 120px
    display: flex
    flex-direction: column
