<div class="menu">
    <mat-form-field class="placeables" appearance="fill">
        <mat-label for="placeables">Block to place:</mat-label>
        <mat-select name="placeables" [(ngModel)]="settingsService.selectedPlaceable">
            <mat-option *ngFor="let placeable of placeables" [value]="placeable">
                {{placeable.viewValue}}
                <div class="type" [style.background-color]="settingsService.selectedPlaceable.type"></div>
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="delay">
        <div class="delay-label">Algorithm speed</div>
        <mat-slider
        color="accent"
        (input)="onSliderChange($event)"
        thumbLabel
        step="1"
        min="0"
        max="{{maxSliderValue}}"
        value="{{maxSliderValue}}"
        aria-label="units">
    </mat-slider>
    </div>
    <button mat-raised-button color="accent" class="clear-btn" (click)="onClearClick()" [disabled]="algorithmsService.running">Clear</button>
    <button mat-raised-button color="primary" class="start-btn" (click)="onStartClick()">Start</button>
    <button mat-raised-button color="accent" class="reset-btn" (click)="onResetClick()">Reset</button>
    <mat-form-field class="algorithms" appearance="fill">
        <mat-label for="algorithms">Algorithm:</mat-label>
        <mat-select name="algorithms" [(ngModel)]="selectedAlgorithm" (ngModelChange)="onAlgorithmChange()">
            <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm">
                {{algorithm.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" class="generate-btn" (click)="onGenerateMazeClick()">Generate maze</button>
</div>